# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

dev.properties
local.properties
atfeed-javasdk-noarch/
bin/
.vscode/
.idea/
marketdata.iml
out/
/src/main/resources/application-local.properties
node_modules/
yarn.lock
